body{
	padding: 0% 2% 0% 0%;
    margin: 0;
    display: flex;
}
p{
  font-family: 'Roboto Mono', monospace;  
}
nav{
    display: flex;
    flex-direction: column;
    min-width: 30%;
    max-width: 30%;
    align-items: center;
    background-color: #34558b;
    max-height: 50vh;
    padding-top: 2%;
    position: sticky;
    top: 0px;
}
h1{
	margin: 0;
	font-size: 6.8em;
    font-family: 'Roboto Mono', monospace;
    font-weight: 700;
    letter-spacing: -4px;
}
h2{
    font-family: 'Roboto Mono', monospace;
    font-size: 3.5em;
}
.profile{
    width: 70%;
    height: auto;
}
main{
    display: flex;
    max-width: 70%;
    min-width: 70%;
   
}
article{
    min-width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    
    
}
section{
    min-width: 100%;
    display: flex;
   flex-direction: column;
    
}
main article section:nth-child(odd){
    align-items: flex-end;
}
.card{
    background-color: antiquewhite;
    width:10%;
    padding: 2%;
    margin: 1%;
   
}
.basis{
    flex-basis: 100%;
}
.card1{
    background-color: antiquewhite;
    width:40%;
    padding: 2%;
    margin: 1%;
    display: flex;
    flex-direction: column;
    margin-right: 50%;
}
.card2{
    background-color: antiquewhite;
    width:50%;
    padding: 2%;
    margin: 1%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    top: -345px;
}
.card3{
    background-color: antiquewhite;
    width:100%;
    padding: 2%;
    margin: 1%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    top: -345px;
    left: 3%;
}
.cardimg{
    width: 100%;
}
.card:nth-child(odd){
    
}
.vertical{
    vertical-align: text-top;
}
.holder{
    display: flex;
    flex-wrap: wrap;
    min-width: 100%;
    
}
.grow{
    flex-grow: 2;
}
.grow3{
    flex-grow: 4;
}