*{
    box-sizing: border-box;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4, h5, h6, p, div, a{
    margin: 0;
    padding: 0;
}
img{
    display: block;
}
a{
    text-decoration: none;
    color: inherit;
}

body{
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto Mono', monospace;
    color: #DCBD6B;
}

nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #333333;
    padding: 1rem 1rem 1rem 1rem;
    position: fixed;
    height: 100%;
    width: 20rem;
    color: #DCBD6B
}
.menuItems{
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 100%;
    margin-top: 10%
}
h1{
	font-size: 5rem;
    font-family: 'Roboto Mono', monospace;
    font-weight: 700;
    letter-spacing: -0.3rem;
    width: 100%;
    text-align: center;
}
h2{
    font-family: 'Roboto Mono', monospace;
    font-size: 3.5em;
}
.profile{
    width: 70%;
    height: auto;
}
main{
    margin-left: 20rem;
    background-color: #4A4873;
    height: 100%;
    max-width: 100%;
    padding: 2rem;
   
}
article{
    margin: 0;
    display: flex;
    flex-direction: column;
    
}
.webdev{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
}
.webdev a:hover{
/*    transform: skewY(25deg);*/
    transform: skewX(-5deg);
    transition: 1s;
}
.webdev a img:hover{
/*    transform: skewY(-25deg);*/
    transform: skewX(15deg);
    transition: 1s;
}
.webdevText{
    margin-left: 1rem;
}
.aboutMe{
    margin-left: 20rem;
    padding: 2rem;
    color: #4A4873;
    background-color: #DCBD6B;
}
.aboutText{
    margin-left: 1rem;
    width: 90%;
}

.tarjeta{
    background-color: antiquewhite;
    border: 5px solid #333333;
    width:100%;
    max-width: 305px;
    padding: 1rem;
    margin: 1rem;
    flex-direction: column;
/*    border-radius: 1rem;*/
    color: #333333;
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 0, .2);
}
.portadaProyecto{
    width: 100%;
}
.socialProfiles{
    margin-left: 20rem;
    padding: 2rem;
    color: #DCBD6B;
    background-color: #4A4873;
}
.clientes{
    width: 100%;
/*    background-color: brown;*/
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-items: center;
}
.imgClientes{
    object-fit: contain;
    width: 50%;
    align-self: center;
    padding: 1rem
}
.PLF{
    width: 50%;
/*    background-color: brown;*/
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    margin-left: 2rem;
    margin-top: 2rem;
}

.pIcon{
    object-fit: contain;
    align-self: center;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.pIcon img{
    width: 4rem;
}
.abajo{
    margin-top: auto;
}